@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css');





// font-family

$font_poppins: Poppins, "sans-serif";

$white: #ffffff;
$red: #FF0000;
$green: #0EA55C;
// background color 

$bg_primary: #018B72;
$bg_secondary: #74C69D;
$bg_mint_green: #1ba58c;
$bg_mint_green2: #019680;
$bg_mint_green3: #75b798;
$bg_light_gary: #F8F8F8;
$bg_light_green: #EBF8F1;
$bg_marker: #1EA38D;

$bg_rgba1: rgba(255, 255, 255, 0.79);
$bg_rgba2: rgba(30, 163, 141, 0.05);
$bg_rgba3: rgba(255, 255, 63, 0.25);
$bg_rgba4: rgba(225, 255, 246, 0.19);
$bg_rgba5: rgba(247, 248, 247, 0.44);

// primary-color-mode

$text_primary: #1E1E21;
$text_green: #018B72;
$text_green800: #0B4134;
$text_secondary: #74C69D;
$text_black: #303030;
$text_gray200: #ADADB1;
$text_gray300: #767474;
$text_gray400: #585656;
$text_black500: #131313;
$text_gray600: #4A5962;
$text_gray500: #727677;
$text_black200: #535353;
$text_marker: #1EA38D;

//  border-color

$border_light_gray: #DFF8EA;
$border_light_gray2: #DDDDDD;


// gradient color

$gradient_set1_1: rgba(178, 224, 188, 0.85);
$gradient_set1_2: rgba(255, 255, 255, 0.25);
$gradient_set1_3: rgba(255, 255, 255, 0.25);
$gradient_set1_4: rgba(200, 234, 209, 0.6);
$gradient_set2_1: rgba(178, 224, 188, 0.35);
$gradient_set2_2: rgba(200, 234, 209, 1);
$gradient_set3_1: rgba(186, 223, 192, 1);
$gradient_set3_2: rgba(205, 232, 217, 1);
$gradient_set3_3: rgba(152, 213, 169, 0.37);
$gradient_set4_1: rgba(200, 234, 209, 1);
$gradient_set4_2: rgba(157, 212, 182, 1);
$gradient_set5_1: rgba(189, 255, 219, 1);
$gradient_set5_2: rgba(215, 235, 224, 1);


// background: rgb(189,255,219);
// background: radial-gradient(circle, rgba(189,255,219,1) 0%, rgba(215,235,224,1) 100%);

// mixing

.textGreen {
    color: $text_green !important;
}

.textPrimary {
    color: $text_primary;
}

.textGray {
    color: $text_gray500;
}

.textMarker {
    color: $text_marker;
}

@mixin heading1 ($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin heading2 ($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin inputType2 ($radius, $background) {
    border-radius: $radius !important;
    border: 1px solid $border_light_gray !important;
    background: $background !important;
    padding-block: 10px !important;
    min-height: 50px;
}

@mixin button ($textColor, $background) {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $textColor;
    background: $background ;
    font-size: 16px;
    padding: 15px !important;
    transition: all 0.4s ease-in-out;
    font-weight: 500;

}






* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// html,
body {
    width: 100%;
    height: 100%;
    font-family: $font_poppins !important;
    // background-color: $text_primary;
    color: $text_primary;
    overflow: hidden;
}

button {
    border-radius: 0;
    border: none;
    background: transparent;
}

button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

input:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

a {
    text-decoration: none !important;
}

p {
    margin-bottom: 0 !important;
}

select {
    background: transparent;
    border: none;
}

.form-control:focus {
    box-shadow: none !important;
    border: none;
}

::placeholder {
    color: $text_gray200 !important;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: $text_gray200 !important;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d8eedf34;
    height: 5px;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ebebeb;
    border-radius: 20px;
    width: 4px;
    height: 5px;
}

:focus-visible {
    outline: none !important;
}

//  global style 

.form_control {
    @include inputType2(14px, $white);
    color: $text_gray200;
}

.form_controlStyle2 {
    @include inputType2(8px, $bg_light_gary);
    color: $text_gray200;
}

.form_controlStyle3 {
    @include inputType2(8px, $bg_light_green);
    color: $text_gray200;
}

.para2 {
    font-size: 16px;
    font-weight: 400;
}

.para3 {
    font-size: 16px;
    font-weight: 500;
}

.para4 {
    font-size: 14px;
    font-weight: 500;
    color: $text_gray300;

    strong {
        color: $text_primary;
    }
}

.primaryBtn {
    @include button($white, $bg_primary);
    width: 100%;
    margin-top: 20px;

    &:hover {
        background: $bg_mint_green;
        // color: $text_black500;
    }
}

.primaryBtn2 {
    @include button($text_black500, $bg_secondary);
    width: 100%;
    margin-top: 20px;

    &:hover {
        background: $bg_mint_green3;
        // color: $text_black500;
    }
}

.heading3 {
    @include heading1(16px, 500);
    color: $text_primary;
}













//  =========================================== login start

.login {
    background: linear-gradient(-25deg, $gradient_set1_1 0%, $gradient_set1_2 31%, $gradient_set1_3 65%, $gradient_set1_4 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .login_sec {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .heading2 {
            @include heading2(25px, 500);
            color: $text_black;
            margin-block: 30px;
        }

        .input_box {
            width: 100%;
            max-width: 580px;

            .form_group {
                position: relative;

                .first_icon {
                    position: absolute;
                    top: 16px;
                    left: 24px;
                    color: $text_gray200;
                }

                .last_icon {
                    position: absolute;
                    top: 16px;
                    right: 24px;
                    color: $text_gray200;

                }

                .form_control {
                    @include inputType2(14px, $white);
                    margin-bottom: 18px;
                    padding-inline-start: 50px !important;
                }
            }



            .para2 {
                color: $text_gray400;
                transition: all 0.4s ease-in-out;
                margin-block: 20px;
                font-weight: 400;

                &:hover {
                    color: $text_green;
                }
            }
        }
    }
}

//  =========================================== login end
//  =========================================== dashboard start

.dashboard {
    background: linear-gradient(-25deg, $gradient_set2_1 0%, $gradient_set1_2 100%);
    width: 100%;
    height: 100%;
    position: relative;
    padding-block: 0px 30px;
    overflow: hidden;
    isolation: isolate;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        background: linear-gradient(-145deg, $gradient_set3_1 0%, $gradient_set3_2 48%, $gradient_set3_3 100%);
        filter: blur(150px);
        width: 318px;
        height: 318px;
        border-radius: 100%;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 45%;
        right: -10%;
        overflow: hidden;
        background: linear-gradient(-138deg, $gradient_set4_1 0%, $gradient_set4_2 100%);
        filter: blur(150px);
        width: 318px;
        height: 318px;
        border-radius: 100%;
        z-index: -1;
    }

    .main_content {
        .heading1 {
            @include heading1(28px, 600);
            color: $text_primary;
        }

        .chart_box {
            width: 100%;
            border-radius: 14px;
            background: $white;
            padding: 20px;
            margin-bottom: 20px;

            .heading3 {
                @include heading1(16px, 500);
                color: $text_primary;
            }


            .info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 25px;
                margin-bottom: 20px;

                @media (max-width:575px) {
                    justify-content: center;
                }

                .box {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 15px;

                    .circle {
                        width: 16px;
                        height: 16px;
                        background: $bg_mint_green2;
                        border-radius: 50%;
                    }

                    &:nth-child(2) {
                        .circle {
                            background: $bg_secondary;
                        }
                    }
                }


            }

            .para4 {
                @media (max-width: 575px) {
                    text-align: center;
                }
            }

            .chart_postion {
                position: relative;
                max-width: 178px;
                width: 100%;
            }

            .center_text {
                position: absolute;
                margin: auto;
                inset: 0;
                display: flex;
                justify-content: center;
                align-items: center;

            }

        }

        .btn-primary {
            &.primaryBtn {
                border: none;
                background: $bg_primary;
            }
        }
    }

    &.dsh_target {
        // padding-block: 40px;
        height: 100vh;
    }
}

.bottom_offcanves {
    position: relative;
    isolation: isolate;
    padding: 20px;
    height: auto !important;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: radial-gradient(circle, $gradient_set5_1 0%, $gradient_set5_2 100%);
        filter: blur(280px);
        z-index: -1;
    }

    .offcanvas-title {
        border-bottom: 1px solid #EAEAEA;

        .heading3 {
            font-size: 16px;
            font-weight: 500;
        }

    }

    .btn-close {
        position: absolute;
        top: 18px;
        right: 18px;
    }

    .form_controlStyle2 {
        padding-block: 5px !important;
        padding-inline: 15px !important;
    }

    .css-13cymwt-control {
        border: none;
        background: transparent;
    }

    .css-hlgwow:focus-visible {
        outline: none !important;
    }
}

.css-1t5rr8u-control {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.innerBox {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 180px);
    padding-inline: 5px;
}

//  =========================================== dashboard end

// ============================================== target start


.target {
    background: $bg_rgba1;
    border-radius: 14px;
    padding: 20px;
    overflow: auto;
    height: calc(100vh - 180px);

    .week_card {
        background: $white;
        border-radius: 14px;
        padding-inline: 20px;
        padding-block: 60px 20px;
        position: relative;
        margin-block-start: 20px;
        border: 1px solid #D8D8D8;

        .chip {
            position: absolute;
            left: 0;
            top: 0;
            background: radial-gradient(circle, #c8ead161 0%, #a8e1b800 100%);
            color: $text_green800;
            font-weight: 600;
            font-size: 12px;
            padding-inline: 20px;
            padding-block: 10px;
            border-top-left-radius: 14px;
            z-index: 2;
            isolation: isolate;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            i {
                display: flex;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle, rgba(200, 234, 209, 1) 0%, rgb(176, 233, 191) 100%);
                ;
                filter: blur(5px);
                z-index: -1;
                border-top-left-radius: 14px;
            }
        }

        .form_group {
            margin-bottom: 20px;

            .label {
                color: $text_gray600;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 10px;
            }
        }
    }
}

// ================================== week goals

.weekGoal {
    background-color: $white;
    border-radius: 14px;
    padding: 20px;
    margin-block-start: 20px;

    .goal_List {
        overflow: auto;
        height: 250px;

        ul {
            li {
                color: $text_gray500;
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 10px;

                &::marker {
                    color: $bg_marker;
                }
            }
        }
    }

    .goalCard {
        border: 1px solid $border_light_gray2;
        background: $white;
        border-radius: 14px;
        padding-inline: 20px;
        padding-block: 60px 20px;
        position: relative;
        margin-bottom: 15px;
        display: block;
        transition: all 0.4s ease-in-out;

        &:hover {
            transform: translatey(-5px);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            background: $bg_rgba2;
        }

        &.ongoing {
            background: $bg_rgba3;
        }

        .chip {
            position: absolute;
            left: 0;
            top: 0;
            background: radial-gradient(circle, #c8ead161 0%, #a8e1b800 100%);
            color: $text_green800;
            font-weight: 600;
            font-size: 12px;
            padding-inline: 20px;
            padding-block: 10px;
            border-top-left-radius: 14px;
            z-index: 2;
            isolation: isolate;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            i {
                display: flex;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle, rgba(200, 234, 209, 1) 0%, rgb(176, 233, 191) 100%);
                ;
                filter: blur(5px);
                z-index: -1;
                border-top-left-radius: 14px;
            }
        }

        .para2 {
            color: $text_black200;

            strong {
                color: $bg_marker;
            }

            .down {
                color: $red;
                font-weight: 600;
            }

            .up {
                color: $green;
                font-weight: 600;
            }
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            background: url('../image/chartimg.png') no-repeat;
            width: 387px;
            height: 159px;
        }
    }

    &.details {
        text-align: center;
        position: relative;
        margin-block-start: 0;
        padding: 0;

        .heading2 {
            color: $text_marker;
            font-weight: 600;
            font-size: 20px;
        }

        .sliderBox {
            background: linear-gradient(-90deg, rgba(222, 242, 226, 1) 0%, rgba(199, 247, 218, 1) 100%);
            border-radius: 14px;
            padding: 25px;
        }

        .arrow {
            position: absolute;
            top: 50px;
            font-size: 30px;
            cursor: pointer;

            &.right {
                right: 10px;
            }

            &.left {
                left: 10px;
            }
        }

        .task_card {
            border: 1px solid $border_light_gray2;
            background: $white;
            border-radius: 14px;
            text-align: left;
            max-height: 880px;
            overflow: auto;
            position: relative;
            padding-bottom: 20px;

            .card_header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0;
                cursor: pointer;
                position: sticky;
                top: 0;
                background: $white;
                padding: 20px;
                border-top-left-radius: 14px;
                border-top-right-radius: 14px;
            }

            .card_body {
                background: $bg_rgba4;
                border-radius: 14px;
                padding: 20px;
                margin-bottom: 20px;
                margin-inline: 20px;
                border: 1px solid #ADADB1;
                position: relative;

                &:last-child {
                    margin-bottom: 0;
                }

                .form_group {
                    margin-bottom: 15px;

                    .label {
                        font-weight: 500;
                        color: $text_black500;
                        margin-bottom: 10px;
                    }
                }

                .delete {
                    position: absolute;
                    top: -20px;
                    right: 15px;
                    background: rgb(255, 195, 195);
                    color: $red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    border-radius: 10px;
                    cursor: pointer;

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .execution {
            padding: 20px;
            border-radius: 14px;
            box-shadow: rgba(110, 110, 110, 0.1) 0 0 10px;
            margin-top: 20px;
            text-align: left;

            .progress_label {
                strong {
                    color: $text_marker;
                    text-align: end;
                }
            }

            .progress {
                height: 10px;
            }

            .bg-bg_marker {
                background: $bg_marker;
                border-radius: 20px;
            }

            .bg-bg_secondary {
                background: $bg_secondary;
                border-radius: 20px;
            }
        }

        .details_box {
            position: sticky;
            top: 0;
            z-index: 10;
            background: $white;
            box-shadow: rgba(110, 110, 110, 0.05) 0 0 10px;
            padding: 20px;
            border-radius: 14px;
        }

        .item_box {
            padding: 20px;
        }
    }
}


.lead-measures {
    background-color: $bg_rgba5;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    color: $text_primary;
    margin-top: 20px;

    .heading3 {
        color: $text_marker;
        font-size: 16px;
        margin-bottom: 15px;
        text-align: left;
        font-weight: 500;
    }

    .measure {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px dashed #DCDBDB;



        .value {
            font-size: 14px;
            font-weight: 600;
            color: $text_marker;
        }

        .form_controlStyle3 {
            max-width: 130px;
            width: 100%;
            padding-inline: 15px;
        }

    }

    .measure:last-child {
        border-bottom: none;
    }
}


@media (max-width: 575px) {
    .chart_postion {
        margin: auto;
    }
}



//   ===================== profile


.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    padding-inline: 20px;
    width: 100%;
    border-radius: 14px;
    background: #fff;
    margin-bottom: 40px;

    .dropdown {
        margin-inline-start: auto;
    }

    .profile {
        &.dropdown-toggle {
            &.btn {
                &.btn-primary {
                    border-radius: 50% !important;
                    width: 40px !important;
                    height: 40px !important;
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    padding: 0 !important;
                    background: $bg_rgba5 !important;

                    &::after {
                        content: none !important;
                    }
                }
            }
        }


        .profile-wrap {

            // display: flex;
            // align-items: center;
            i {
                font-size: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $text_gray200;
            }

            .exp-avtar {
                width: 40px;
                height: 40px;
                display: flex;
                flex: 0 0 auto;
                justify-content: center;
                align-items: center;
                font-size: 11px;
                letter-spacing: 0px;
                font-weight: 600;
                border-radius: 50%;
                // border: 2px solid #c6c6c6;
                overflow: hidden;

                .prof-img {
                    width: 100%;
                    height: 100%;
                    flex: 0 0 auto;
                }

                .user-icon {
                    font-size: 14px;
                    line-height: 1;
                }
            }

            .profile-name-wrap {
                flex: 1;
                text-align: left;
                max-width: 210px;
            }

            .profile-name {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 0;
                width: 100%;
                //   color: $exp-primary-grey-3;
            }

            &.small-profile-wrap {
                .exp-avtar {
                    width: 24px;
                    height: 24px;
                }
            }

            .profile-name-desc {
                flex: 1;
            }

        }

    }
}

.profile_info {
    height: 100vh;
    padding-block: 30px;
}

.upload {
    cursor: pointer;
}



.card-box {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    padding: 50px 40px;
    margin-bottom: 24px;
    border-radius: 14px;
    height: calc(100vh - 60px);
    position: relative;

    form input[type="file"] {
        display: none;
        cursor: pointer;
    }

    .avatar-xl {
        height: 130px;
        width: 130px;
    }

    .logout {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 25px;
        transition: all 0.4s ease-in-out;

        i {
            color: $text_green;
        }

        &:hover {
            i {
                color: $red;
            }
        }
    }
}


.rounded-circle {
    border-radius: 50% !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1abc9c;
}

.nav-pills .nav-link {
    border-radius: .25rem;
}

.navtab-bg li>a {
    background-color: #f7f7f7;
    margin: 0 5px;
}

.nav-pills>li>a,
.nav-tabs>li>a {
    color: #6c757d;
    font-weight: 600;
}


.mb-4,
.my-4 {
    margin-bottom: 2.25rem !important;
}

.tab-content {
    padding: 20px 0 0 0;
}

.progress-sm {
    height: 5px;
}

.m-0 {
    margin: 0 !important;
}

.table .thead-light th {
    color: #6c757d;
    background-color: #f1f5f7;
    border-color: #dee2e6;
}

.social-list-item {
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 4px);
    display: block;
    border: 2px solid #adb5bd;
    border-radius: 50%;
    color: #adb5bd;
}

.text-purple {
    color: #6559cc !important;
}

.border-purple {
    border-color: #6559cc !important;
}

.timeline {
    margin-bottom: 50px;
    position: relative;
}

.timeline:before {
    background-color: #dee2e6;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 30px;
    width: 2px;
    z-index: 0;
}

.timeline .time-show {
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
}

.timeline .timeline-box {
    background: #fff;
    display: block;
    margin: 15px 0;
    position: relative;
    padding: 20px;
}

.timeline .timeline-album {
    margin-top: 12px;
}

.timeline .timeline-album a {
    display: inline-block;
    margin-right: 5px;
}

.timeline .timeline-album img {
    height: 36px;
    width: auto;
    border-radius: 3px;
}

// @media (min-width: 768px) {
//     .timeline .time-show {
//         margin-right: -69px;
//         text-align: right;
//     }

//     .timeline .timeline-box {
//         margin-left: 45px;
//     }

//     .timeline .timeline-icon {
//         background: #dee2e6;
//         border-radius: 50%;
//         display: block;
//         height: 20px;
//         left: -54px;
//         margin-top: -10px;
//         position: absolute;
//         text-align: center;
//         top: 50%;
//         width: 20px;
//     }

//     .timeline .timeline-icon i {
//         color: #98a6ad;
//         font-size: 13px;
//         position: absolute;
//         left: 4px;
//     }

//     .timeline .timeline-desk {
//         display: table-cell;
//         vertical-align: top;
//         width: 50%;
//     }

//     .timeline-item {
//         display: table-row;
//     }

//     .timeline-item:before {
//         content: "";
//         display: block;
//         width: 50%;
//     }

//     .timeline-item .timeline-desk .arrow {
//         border-bottom: 12px solid transparent;
//         border-right: 12px solid #fff !important;
//         border-top: 12px solid transparent;
//         display: block;
//         height: 0;
//         left: -12px;
//         margin-top: -12px;
//         position: absolute;
//         top: 50%;
//         width: 0;
//     }
// }
