@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.0/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css");
.textGreen {
  color: #018B72 !important;
}

.textPrimary {
  color: #1E1E21;
}

.textGray {
  color: #727677;
}

.textMarker {
  color: #1EA38D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: Poppins, "sans-serif" !important;
  color: #1E1E21;
  overflow: hidden;
}

button {
  border-radius: 0;
  border: none;
  background: transparent;
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

input:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

a {
  text-decoration: none !important;
}

p {
  margin-bottom: 0 !important;
}

select {
  background: transparent;
  border: none;
}

.form-control:focus {
  box-shadow: none !important;
  border: none;
}

::placeholder {
  color: #ADADB1 !important;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #ADADB1 !important;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d8eedf34;
  height: 5px;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border-radius: 20px;
  width: 4px;
  height: 5px;
}

:focus-visible {
  outline: none !important;
}

.form_control {
  border-radius: 14px !important;
  border: 1px solid #DFF8EA !important;
  background: #ffffff !important;
  padding-block: 10px !important;
  min-height: 50px;
  color: #ADADB1;
}

.form_controlStyle2 {
  border-radius: 8px !important;
  border: 1px solid #DFF8EA !important;
  background: #F8F8F8 !important;
  padding-block: 10px !important;
  min-height: 50px;
  color: #ADADB1;
}

.form_controlStyle3 {
  border-radius: 8px !important;
  border: 1px solid #DFF8EA !important;
  background: #EBF8F1 !important;
  padding-block: 10px !important;
  min-height: 50px;
  color: #ADADB1;
}

.para2 {
  font-size: 16px;
  font-weight: 400;
}

.para3 {
  font-size: 16px;
  font-weight: 500;
}

.para4 {
  font-size: 14px;
  font-weight: 500;
  color: #767474;
}

.para4 strong {
  color: #1E1E21;
}

.primaryBtn {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #018B72;
  font-size: 16px;
  padding: 15px !important;
  transition: all 0.4s ease-in-out;
  font-weight: 500;
  width: 100%;
  margin-top: 20px;
}

.primaryBtn:hover {
  background: #1ba58c;
}

.primaryBtn2 {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131313;
  background: #74C69D;
  font-size: 16px;
  padding: 15px !important;
  transition: all 0.4s ease-in-out;
  font-weight: 500;
  width: 100%;
  margin-top: 20px;
}

.primaryBtn2:hover {
  background: #75b798;
}

.heading3 {
  font-size: 16px;
  font-weight: 500;
  color: #1E1E21;
}

.login {
  background: linear-gradient(-25deg, rgba(178, 224, 188, 0.85) 0%, rgba(255, 255, 255, 0.25) 31%, rgba(255, 255, 255, 0.25) 65%, rgba(200, 234, 209, 0.6) 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login .login_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login .login_sec .heading2 {
  font-size: 25px;
  font-weight: 500;
  color: #303030;
  margin-block: 30px;
}

.login .login_sec .input_box {
  width: 100%;
  max-width: 580px;
}

.login .login_sec .input_box .form_group {
  position: relative;
}

.login .login_sec .input_box .form_group .first_icon {
  position: absolute;
  top: 16px;
  left: 24px;
  color: #ADADB1;
}

.login .login_sec .input_box .form_group .last_icon {
  position: absolute;
  top: 16px;
  right: 24px;
  color: #ADADB1;
}

.login .login_sec .input_box .form_group .form_control {
  border-radius: 14px !important;
  border: 1px solid #DFF8EA !important;
  background: #ffffff !important;
  padding-block: 10px !important;
  min-height: 50px;
  margin-bottom: 18px;
  padding-inline-start: 50px !important;
}

.login .login_sec .input_box .para2 {
  color: #585656;
  transition: all 0.4s ease-in-out;
  margin-block: 20px;
  font-weight: 400;
}

.login .login_sec .input_box .para2:hover {
  color: #018B72;
}

.dashboard {
  background: linear-gradient(-25deg, rgba(178, 224, 188, 0.35) 0%, rgba(255, 255, 255, 0.25) 100%);
  width: 100%;
  height: 100%;
  position: relative;
  padding-block: 80px 30px;
  overflow: hidden;
  isolation: isolate;
}

.dashboard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: linear-gradient(-145deg, #badfc0 0%, #cde8d9 48%, rgba(152, 213, 169, 0.37) 100%);
  filter: blur(150px);
  width: 318px;
  height: 318px;
  border-radius: 100%;
  z-index: -1;
}

.dashboard::after {
  content: '';
  position: absolute;
  top: 45%;
  right: -10%;
  overflow: hidden;
  background: linear-gradient(-138deg, #c8ead1 0%, #9dd4b6 100%);
  filter: blur(150px);
  width: 318px;
  height: 318px;
  border-radius: 100%;
  z-index: -1;
}

.dashboard .main_content .heading1 {
  font-size: 28px;
  font-weight: 600;
  color: #1E1E21;
}

.dashboard .main_content .chart_box {
  width: 100%;
  border-radius: 14px;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.dashboard .main_content .chart_box .heading3 {
  font-size: 16px;
  font-weight: 500;
  color: #1E1E21;
}

.dashboard .main_content .chart_box .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .dashboard .main_content .chart_box .info {
    justify-content: center;
  }
}

.dashboard .main_content .chart_box .info .box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.dashboard .main_content .chart_box .info .box .circle {
  width: 16px;
  height: 16px;
  background: #019680;
  border-radius: 50%;
}

.dashboard .main_content .chart_box .info .box:nth-child(2) .circle {
  background: #74C69D;
}

@media (max-width: 575px) {
  .dashboard .main_content .chart_box .para4 {
    text-align: center;
  }
}

.dashboard .main_content .chart_box .chart_postion {
  position: relative;
  max-width: 178px;
  width: 100%;
}

.dashboard .main_content .chart_box .center_text {
  position: absolute;
  margin: auto;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .main_content .btn-primary.primaryBtn {
  border: none;
  background: #018B72;
}

.bottom_offcanves {
  position: relative;
  isolation: isolate;
  padding: 20px;
  height: auto !important;
}

.bottom_offcanves::before {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, #bdffdb 0%, #d7ebe0 100%);
  filter: blur(280px);
  z-index: -1;
}

.bottom_offcanves .offcanvas-title {
  border-bottom: 1px solid #EAEAEA;
}

.bottom_offcanves .offcanvas-title .heading3 {
  font-size: 16px;
  font-weight: 500;
}

.bottom_offcanves .btn-close {
  position: absolute;
  top: 18px;
  right: 18px;
}

.bottom_offcanves .form_controlStyle2 {
  padding-block: 5px !important;
  padding-inline: 15px !important;
}

.bottom_offcanves .css-13cymwt-control {
  border: none;
  background: transparent;
}

.bottom_offcanves .css-hlgwow:focus-visible {
  outline: none !important;
}

.css-1t5rr8u-control {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.innerBox {
  overflow-y: auto;
  overflow-x: hidden;
  height: 85vh;
  padding-inline: 5px;
}

.target {
  background: rgba(255, 255, 255, 0.79);
  border-radius: 14px;
  padding: 20px;
  overflow: auto;
  height: 85vh;
}

.target .week_card {
  background: #ffffff;
  border-radius: 14px;
  padding-inline: 20px;
  padding-block: 60px 20px;
  position: relative;
  margin-block-start: 20px;
  border: 1px solid #D8D8D8;
}

.target .week_card .chip {
  position: absolute;
  left: 0;
  top: 0;
  background: radial-gradient(circle, #c8ead161 0%, #a8e1b800 100%);
  color: #0B4134;
  font-weight: 600;
  font-size: 12px;
  padding-inline: 20px;
  padding-block: 10px;
  border-top-left-radius: 14px;
  z-index: 2;
  isolation: isolate;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.target .week_card .chip i {
  display: flex;
}

.target .week_card .chip::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #c8ead1 0%, #b0e9bf 100%);
  filter: blur(5px);
  z-index: -1;
  border-top-left-radius: 14px;
}

.target .week_card .form_group {
  margin-bottom: 20px;
}

.target .week_card .form_group .label {
  color: #4A5962;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.weekGoal {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 20px;
  margin-block-start: 20px;
}

.weekGoal .goal_List {
  overflow: auto;
  height: 250px;
}

.weekGoal .goal_List ul li {
  color: #727677;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.weekGoal .goal_List ul li::marker {
  color: #1EA38D;
}

.weekGoal .goalCard {
  border: 1px solid #DDDDDD;
  background: #ffffff;
  border-radius: 14px;
  padding-inline: 20px;
  padding-block: 60px 20px;
  position: relative;
  margin-bottom: 15px;
  display: block;
  transition: all 0.4s ease-in-out;
}

.weekGoal .goalCard:hover {
  transform: translatey(-5px);
}

.weekGoal .goalCard:last-child {
  margin-bottom: 0;
}

.weekGoal .goalCard.active {
  background: rgba(30, 163, 141, 0.05);
}

.weekGoal .goalCard.ongoing {
  background: rgba(255, 255, 63, 0.25);
}

.weekGoal .goalCard .chip {
  position: absolute;
  left: 0;
  top: 0;
  background: radial-gradient(circle, #c8ead161 0%, #a8e1b800 100%);
  color: #0B4134;
  font-weight: 600;
  font-size: 12px;
  padding-inline: 20px;
  padding-block: 10px;
  border-top-left-radius: 14px;
  z-index: 2;
  isolation: isolate;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.weekGoal .goalCard .chip i {
  display: flex;
}

.weekGoal .goalCard .chip::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #c8ead1 0%, #b0e9bf 100%);
  filter: blur(5px);
  z-index: -1;
  border-top-left-radius: 14px;
}

.weekGoal .goalCard .para2 {
  color: #535353;
}

.weekGoal .goalCard .para2 strong {
  color: #1EA38D;
}

.weekGoal .goalCard .para2 .down {
  color: #FF0000;
  font-weight: 600;
}

.weekGoal .goalCard .para2 .up {
  color: #0EA55C;
  font-weight: 600;
}

.weekGoal .goalCard::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../image/chartimg.png") no-repeat;
  width: 387px;
  height: 159px;
}

.weekGoal.details {
  text-align: center;
  position: relative;
  margin-block-start: 0;
  padding: 0;
}

.weekGoal.details .heading2 {
  color: #1EA38D;
  font-weight: 600;
  font-size: 20px;
}

.weekGoal.details .sliderBox {
  background: linear-gradient(-90deg, #def2e2 0%, #c7f7da 100%);
  border-radius: 14px;
  padding: 25px;
}

.weekGoal.details .arrow {
  position: absolute;
  top: 50px;
  font-size: 30px;
  cursor: pointer;
}

.weekGoal.details .arrow.right {
  right: 10px;
}

.weekGoal.details .arrow.left {
  left: 10px;
}

.weekGoal.details .task_card {
  border: 1px solid #DDDDDD;
  background: #ffffff;
  border-radius: 14px;
  text-align: left;
  max-height: 880px;
  overflow: auto;
  position: relative;
}

.weekGoal.details .task_card .card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  position: sticky;
  top: 0;
  background: #ffffff;
  padding: 20px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.weekGoal.details .task_card .card_body {
  background: rgba(225, 255, 246, 0.19);
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 20px;
  margin: 20px;
}

.weekGoal.details .task_card .card_body:last-child {
  margin-bottom: 0;
}

.weekGoal.details .task_card .card_body .form_group {
  margin-bottom: 15px;
}

.weekGoal.details .task_card .card_body .form_group .label {
  font-weight: 500;
  color: #131313;
  margin-bottom: 10px;
}

.weekGoal.details .execution {
  padding: 20px;
  border-radius: 14px;
  box-shadow: rgba(110, 110, 110, 0.1) 0 0 10px;
  margin-top: 20px;
  text-align: left;
}

.weekGoal.details .execution .progress_label strong {
  color: #1EA38D;
  text-align: end;
}

.weekGoal.details .execution .progress {
  height: 10px;
}

.weekGoal.details .execution .bg-bg_marker {
  background: #1EA38D;
  border-radius: 20px;
}

.weekGoal.details .execution .bg-bg_secondary {
  background: #74C69D;
  border-radius: 20px;
}

.weekGoal.details .details_box {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #ffffff;
  box-shadow: rgba(110, 110, 110, 0.05) 0 0 10px;
  padding: 20px;
  border-radius: 14px;
}

.weekGoal.details .item_box {
  padding: 20px;
}

.lead-measures {
  background-color: rgba(247, 248, 247, 0.44);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color: #1E1E21;
  margin-top: 20px;
}

.lead-measures .heading3 {
  color: #1EA38D;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: 500;
}

.lead-measures .measure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px dashed #DCDBDB;
}

.lead-measures .measure .value {
  font-size: 14px;
  font-weight: 600;
  color: #1EA38D;
}

.lead-measures .measure .form_controlStyle3 {
  max-width: 130px;
  width: 100%;
  padding-inline: 15px;
}

.lead-measures .measure:last-child {
  border-bottom: none;
}

@media (max-width: 575px) {
  .chart_postion {
    margin: auto;
  }
}
